In [1]:
import sqlite3
import pandas as pd
import csv

In [2]:
con = sqlite3.connect('Udemy.db')
cursor = con.cursor()

In [17]:
df = pd.read_csv("WebDevelopment.csv")
df.head()

,id,title,isPaid,price,numSubscribers,numReviews,numPublishedLectures,instructionalLevel
0,1,Learn Web Designing & HTML5/CSS3 Essentials in...,True,75,43285,525,24,All Levels
1,2,Learning Dynamic Website Design - PHP MySQL an...,True,50,47886,285,125,All Levels
2,3,ChatBots: Messenger ChatBot with API.AI and No...,True,50,2577,529,64,All Levels
3,4,Projects in HTML5,True,60,8777,206,75,Intermediate Level
4,5,Programming Foundations: HTML5 + CSS3 for Entr...,True,20,23764,490,58,Beginner Level

In [49]:
create_table = """CREATE TABLE courses (
                        id INTEGER PRIMARY KEY,
                        title TEXT,
                        isPaid BOOLEAN,
                        price FLOAT,
                        numSubscribers INTEGER,
                        numReviews INTEGER,
                        numPublishedLectures INTEGER,
                        instructionalLevel TEXT
                );
"""

cursor.execute(create_table)

In [50]:
with open("WebDevelopment.csv") as f:
    data = csv.reader(f)
    next(data)  # Skip header row
    for row in data:
        cursor.execute("INSERT INTO courses (ID, title, isPaid,price,numSubscribers, numReviews, numPublishedLectures, instructionalLevel) VALUES (?, ?, ?, ?, ?, ?, ?,?)",
                       (row[0], row[1], row[2], row[3], row[4], row[5], row[6],row[7]))

In [51]:
results = cursor.execute("SELECT * FROM courses").fetchall()
results[0:2]

[(1,
  'Learn Web Designing & HTML5/CSS3 Essentials in 4-Hours',
  'TRUE',
  75.0,
  43285,
  525,
  24,
  'All Levels'),
 (2,
  'Learning Dynamic Website Design - PHP MySQL and JavaScript',
  'TRUE',
  50.0,
  47886,
  285,
  125,
  'All Levels')]

In [52]:
con.commit() 
con.close()